<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    img{
        margin-bottom: 20px;
    }
  </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
   <h1>Welcome home Honey</h1> 
   <h2 th:text="'  ' + ${userId} + '     You are now logged in 💗'"></h2>
   <img src="https://assets3.thrillist.com/v1/image/2516598/792x792/flatten;scale;webp=auto;jpeg_quality=60.jpg" alt="A picture of a cat">
   <a href="/index.html"> Go to Main Page</a>
</body>
</html>